/* defined classes for styling */
body
{
    background-color:#eee;
}
.sec1
{
background-color:#fff;
padding:30px;
margin-top:30px;
border-radius:15px;
}
.image1
{
    width:500px;
    margin-top:50px;
}
.logout
{
    background:dodgerblue;
    color:#fff;
}